<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.seprojrearend.mapper.SchoolMapper">
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.School">
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="SCHOOL_NAME" jdbcType="VARCHAR" property="schoolName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCHOOL_ID, SCHOOL_NAME
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SchoolExample">
    delete from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL (SCHOOL_ID, SCHOOL_NAME)
    values (#{schoolId,jdbcType=DECIMAL}, #{schoolName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="schoolName != null">
        SCHOOL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultType="java.lang.Long">
    select count(*) from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCHOOL
    <set>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolName != null">
        SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCHOOL
    set SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    <set>
      <if test="schoolName != null">
        SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    set SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR}
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.School">
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="SCHOOL_NAME" jdbcType="VARCHAR" property="schoolName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCHOOL_ID, SCHOOL_NAME
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SchoolExample">
    delete from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL (SCHOOL_ID, SCHOOL_NAME)
    values (#{schoolId,jdbcType=DECIMAL}, #{schoolName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="schoolName != null">
        SCHOOL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultType="java.lang.Long">
    select count(*) from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCHOOL
    <set>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolName != null">
        SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCHOOL
    set SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    <set>
      <if test="schoolName != null">
        SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    set SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR}
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.School">
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="SCHOOL_NAME" jdbcType="VARCHAR" property="schoolName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCHOOL_ID, SCHOOL_NAME
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SCHOOL
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SchoolExample">
    delete from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL (SCHOOL_ID, SCHOOL_NAME)
    values (#{schoolId,jdbcType=DECIMAL}, #{schoolName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.School">
    insert into SCHOOL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="schoolName != null">
        SCHOOL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SchoolExample" resultType="java.lang.Long">
    select count(*) from SCHOOL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCHOOL
    <set>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolName != null">
        SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCHOOL
    set SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      SCHOOL_NAME = #{record.schoolName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    <set>
      <if test="schoolName != null">
        SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.School">
    update SCHOOL
    set SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR}
    where SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
</mapper>