<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.seprojrearend.mapper.SectionInfoMapper">
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.SectionInfo">
    <id column="SECTION_ID" jdbcType="DECIMAL" property="sectionId" />
    <id column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SECTION_ID, STUDENT_ID, SCHOOL_ID, IS_DELETED
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey">
    delete from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample">
    delete from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO (SECTION_ID, STUDENT_ID, SCHOOL_ID, 
      IS_DELETED)
    values (#{sectionId,jdbcType=DECIMAL}, #{studentId,jdbcType=DECIMAL}, #{schoolId,jdbcType=DECIMAL}, 
      #{isDeleted,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        SECTION_ID,
      </if>
      <if test="studentId != null">
        STUDENT_ID,
      </if>
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        #{sectionId,jdbcType=DECIMAL},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=DECIMAL},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultType="java.lang.Long">
    select count(*) from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SECTION_INFO
    <set>
      <if test="record.sectionId != null">
        SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      </if>
      <if test="record.studentId != null">
        STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SECTION_INFO
    set SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    <set>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    set IS_DELETED = #{isDeleted,jdbcType=DECIMAL}
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.SectionInfo">
    <id column="SECTION_ID" jdbcType="DECIMAL" property="sectionId" />
    <id column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SECTION_ID, STUDENT_ID, SCHOOL_ID, IS_DELETED
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey">
    delete from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample">
    delete from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO (SECTION_ID, STUDENT_ID, SCHOOL_ID, 
      IS_DELETED)
    values (#{sectionId,jdbcType=DECIMAL}, #{studentId,jdbcType=DECIMAL}, #{schoolId,jdbcType=DECIMAL}, 
      #{isDeleted,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        SECTION_ID,
      </if>
      <if test="studentId != null">
        STUDENT_ID,
      </if>
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        #{sectionId,jdbcType=DECIMAL},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=DECIMAL},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultType="java.lang.Long">
    select count(*) from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SECTION_INFO
    <set>
      <if test="record.sectionId != null">
        SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      </if>
      <if test="record.studentId != null">
        STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SECTION_INFO
    set SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    <set>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    set IS_DELETED = #{isDeleted,jdbcType=DECIMAL}
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.evan.seprojrearend.po.SectionInfo">
    <id column="SECTION_ID" jdbcType="DECIMAL" property="sectionId" />
    <id column="STUDENT_ID" jdbcType="DECIMAL" property="studentId" />
    <id column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SECTION_ID, STUDENT_ID, SCHOOL_ID, IS_DELETED
  </sql>
  <select id="selectByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfoKey">
    delete from SECTION_INFO
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample">
    delete from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO (SECTION_ID, STUDENT_ID, SCHOOL_ID, 
      IS_DELETED)
    values (#{sectionId,jdbcType=DECIMAL}, #{studentId,jdbcType=DECIMAL}, #{schoolId,jdbcType=DECIMAL}, 
      #{isDeleted,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    insert into SECTION_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        SECTION_ID,
      </if>
      <if test="studentId != null">
        STUDENT_ID,
      </if>
      <if test="schoolId != null">
        SCHOOL_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sectionId != null">
        #{sectionId,jdbcType=DECIMAL},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=DECIMAL},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evan.seprojrearend.po.SectionInfoExample" resultType="java.lang.Long">
    select count(*) from SECTION_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SECTION_INFO
    <set>
      <if test="record.sectionId != null">
        SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      </if>
      <if test="record.studentId != null">
        STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      </if>
      <if test="record.schoolId != null">
        SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SECTION_INFO
    set SECTION_ID = #{record.sectionId,jdbcType=DECIMAL},
      STUDENT_ID = #{record.studentId,jdbcType=DECIMAL},
      SCHOOL_ID = #{record.schoolId,jdbcType=DECIMAL},
      IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    <set>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
    </set>
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evan.seprojrearend.po.SectionInfo">
    update SECTION_INFO
    set IS_DELETED = #{isDeleted,jdbcType=DECIMAL}
    where SECTION_ID = #{sectionId,jdbcType=DECIMAL}
      and STUDENT_ID = #{studentId,jdbcType=DECIMAL}
      and SCHOOL_ID = #{schoolId,jdbcType=DECIMAL}
  </update>
</mapper>